.header-container {
  height: 15vh;

  background-color: #0B6AFC;
  color: white;
  text-shadow: 0.094rem 0.031rem #3c87fa;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .icon-title-container {
    display: flex;
    gap: 1rem;

    margin-left: 1rem;
  }

  .menu-icon {
    margin-right: 1rem;
  }
}